.top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background-color: #fff;
    height: 50px;
    box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
    -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
}

.container {
    top: 50px;
    position: absolute;
}

/**
 * Grid container
 */
.tiles-wrap {
    position: relative; /** Needed to ensure items are laid out relative to this container **/
    margin: 10px 0;
    padding: 0;
    list-style-type: none;
    display: none;
}

/**
 * Grid items
 */
.tiles-wrap li {
    display: block;
    opacity: 1;
    text-align: center;
    list-style-type: none;
    background-color: #fff;
    float: left;
    width: 250px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 6px;
}

.tiles-wrap img {
    border-radius: 6px 6px 0 0;
    display: block;
}

.tiles-wrap a {
    color: #555;
    cursor: zoom-in;
    text-align: center;
    /* display: table-cell; */
    width: 250px;
    height: 200px;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
}

.pinMeta {
    font-size: 13px;
    color: #333;
    line-height: 17px;
    word-wrap: break-word;
    margin: 10px 16px;
    position: relative;
}

.pinRef {
    border-top: 1px solid #e7e7e7;
    height: 50px;
    padding: 10px;
}

.pinRef a {
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.closeup-panel {
    width: 100%;
    height: 100%;
    cursor: zoom-out;
    background-color: rgba(227, 224, 226, 0.95);
    overflow-y: scroll;
    bottom: 0;
    left: 0;
    z-index: 1000;
    position: fixed;
    right: 0;
    top: 0;
}

.closeup-con {
    width: 1200px;
    padding-top: 56px;
    /*height: 100%;*/
    /*margin-left: 450px;*/
    /*margin-right: 450px;*/
}

.closeup-img {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    width: 800px;
    float: left;
    margin-bottom: 14px;
    border-radius: 6px;
}

.closeup-tool {
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-box-shadow: rgba(0, 0, 0, 0.219608) 0px 1px 2px 0px;
    box-shadow: rgba(0, 0, 0, 0.219608) 0px 1px 2px 0px;
    border-radius: 6px 6px 0 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
}

.closeup-sidebar {
    width: 100px;
    float: right;
}

.closeup-desc {
    background-color: #fff;
    height: 200px;
    border-radius: 6px;
}


div.tagsinput { border:1px solid #CCC; background: #FFF; padding:5px; width:300px; height:100px; overflow-y: auto;}
div.tagsinput span.tag { border: 1px solid #a5d24a; -moz-border-radius:2px; -webkit-border-radius:2px; display: block; float: left; padding: 5px; text-decoration:none; background: #cde69c; color: #638421; margin-right: 5px; margin-bottom:5px;font-family: helvetica;  font-size:13px;}
div.tagsinput span.tag a { font-weight: bold; color: #82ad2b; text-decoration:none; font-size: 11px;  }
div.tagsinput input { width:80px; margin:0px; font-family: helvetica; font-size: 13px; border:1px solid transparent; padding:5px; background: transparent; color: #000; outline:0px;  margin-right:5px; margin-bottom:5px; }
div.tagsinput div { display:block; float: left; }
.tags_clear { clear: both; width: 100%; height: 0px; }
.not_valid {background: #FBD8DB !important; color: #90111A !important;}