.top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background-color: #fff;
    height: 50px;
    box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
    -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
}

.container {
    top: 50px;
    position: absolute;
}

/**
 * Grid container
 */
.tiles-wrap {
    position: relative; /** Needed to ensure items are laid out relative to this container **/
    margin: 10px 0;
    padding: 0;
    list-style-type: none;
    display: none;
}

/**
 * Grid items
 */
.tiles-wrap li {
    display: block;
    opacity: 1;
    text-align: center;
    list-style-type: none;
    background-color: #fff;
    float: left;
    width: 250px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 6px;
}

.tiles-wrap img {
    border-radius: 6px 6px 0 0;
    display: block;
}

.tiles-wrap a {
    color: #555;
    cursor: zoom-in;
    text-align: center;
    /* display: table-cell; */
    width: 250px;
    height: 200px;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
}

.pinMeta {
    font-size: 13px;
    color: #333;
    line-height: 17px;
    word-wrap: break-word;
    margin: 10px 16px;
    position: relative;
}

.pinRef {
    border-top: 1px solid #e7e7e7;
    height: 50px;
    padding: 10px;
}

.pinRef a {
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.closeup-panel {
    width: 100%;
    height: 100%;
    cursor: zoom-out;
    background-color: rgba(227, 224, 226, 0.95);
    overflow-y: scroll;
    bottom: 0;
    left: 0;
    z-index: 1000;
    position: fixed;
    right: 0;
    top: 0;
}

.closeup-con {
    width: 1200px;
    padding-top: 56px;
    /*height: 100%;*/
    /*margin-left: 450px;*/
    /*margin-right: 450px;*/
}

.closeup-img {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    width: 800px;
    float: left;
    border-radius: 6px;
}

.closeup-tool {
    border-radius: 6px 6px 0 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
}

.closeup-sidebar {
    width: 100px;
    float: right;
}